@charset "utf-8";

/* map.index */
#map {
    height: 500px;
}

.found-icon {
	width:4em !important;
	height: 4em !important;
	border-radius: 50%;
	background-color: #FF4730;
    position: relative;
}

.found-icon::after {
    content: '';
    position: absolute;
    top: 25%;
    left: 25%;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #fff;
}

.found-icon::before {
    position: absolute;
    top: 55%;
    left: 12.5%;
    content: '▼';
    font-size: 3em;
    color: #FF4730;
}
