@charset "utf-8";

/**** 共通スタイル ***************************************************/

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

main {
    padding-bottom: 15rem;
}

/*******************************************************************/


/**** components > header.blade.php ********************************/

    /**** header_icon *************************/
    .header_icon {
        width: 2rem;
        height: 2rem;
        display: inline-block;
        margin-right: 1rem;
    }
    /******************************************/

/*******************************************************************/


/**** map > index.blade.php ****************************************/

    /**** leaflet map ***************************/
    #map {
        height: 500px;
    }
    /******************************************/


    /**** GeoCoder Icon ***********************/
    .found-icon {
        width:2em !important;
        height: 2em !important;
        border-radius: 50%;
        background-color: #FF4730;
        position: relative;
    }

    .found-icon::after {
        content: '';
        position: absolute;
        top: 25%;
        left: 25%;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: #fff;
    }

    .found-icon::before {
        position: absolute;
        top: 55%;
        left: 12.5%;
        content: '▼';
        font-size: 1.5em;
        color: #FF4730;
    }
    /****************************************/


    /****** 林道名検索フォーム ************************************/
    .rindou_name_search {
        position: absolute;
        top: 0.6rem;
        right: 13rem;
        z-index: 800;
    }

    @media screen and (max-width: 479px) {
        .rindou_name_search {
            right: 0.76rem;
            z-index: 800;
        }
    }

    .rindou_name_search form {
        padding: 0.3rem;
        background-color: #f8f9fa;
        border-radius: 0.4rem;
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
    }

    .rindou_name_search form input {
        border-radius: 0.2rem;
        border: 0.09rem solid gray;
        font-size: 0.75rem;
        line-height: 1.8;
    }
    /*******************************************************/
/*********************************************************************************/


/**** rindous > index.blade.php *****************************************************/

    /**** 都道府県一覧から検索 *************************************/
    .prefectures_list dl dt span {
        border-left: 1rem solid red;
        padding-left: 1rem;
    }

    .prefectures_list dl dd ul li form button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
    }

    .prefectures_list dl dd ul li form button:hover {
        opacity: 0.6;
    }

    #hokkaidou {
        border-left: 1rem solid #ea6da4;
    }

    #touhoku {
        border-left: 1rem solid #37bfef;
    }

    #chubu {
        border-left: 1rem solid #f39b77;
    }

    #kantou {
        border-left: 1rem solid #8ec33b;
    }

    #kansai {
        border-left: 1rem solid #01aca9;
    }

    #chugoku {
        border-left: 1rem solid #f39800;
    }

    #shikoku {
        border-left: 1rem solid #9080bc;
    }

    #kyusyu {
        border-left: 1rem solid #2180c4;
    }

    #okinawa {
        border-left: 1rem solid #ee5003;
    }

    .img_link:hover {
        opacity: 0.7;
    }

    .img_link img {
        background-color: #fff;
    }

    .to_pagetop_btn {
        position: fixed;
        bottom: 10%;
        right: 5%;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: rgb(225, 28, 3);
        cursor: pointer;
        opacity: 0;
        z-index: 100;
        overflow: hidden;
    }

    .to_pagetop_btn:hover {
        opacity: 0.5;
    }

    .to_pagetop_btn span {
        color: #fff;
        font-size: 3rem;
    }

    /*******************************************************************/
/***************************************************************************************/


/**** rindous > show.blade.php *****************************************************/

    /**** 林道詳細ページ *************************************/

    .text-shadow {
        text-shadow: 0.1rem 0.1rem 0.3rem #000;
    }

    .detailpage_img_thumbnail {
        max-height: 700px;
        overflow: hidden;
    }

    /*******************************************************************/
/***************************************************************************************/




/**** posts > index.blade.php *****************************************************/

    /**** ユーザー投稿一覧表示ページ *************************************/

    .post_img_link:hover {
        opacity: 0.7;
    }

    .post_img {
        background: #fff;
    }

    /****************************************************************/

/**********************************************************************************/


/**** posts > show.blade.php *****************************************************/

    /**** ユーザー投稿詳細ページ ****************************************/

    .detail_page_post_img:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    #zoom_up_wrapper {
        display: none;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        z-index: 100;
    }

    #zoom_up_img {
        width: 80%;
    }

    .link_btn:hover {
        opacity: 0.7;
    }

    .icon_img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

    /******************************************************/

/*******************************************************************************/


/*******************************************************************************/

    /**** users > mypage.blade.php *****************************/

    .mypage_icon {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        border: 0.5rem solid #fff;
        bottom: 0;
    }

    @media screen and (max-width: 600px) {
        .mypage_icon {
            width: 5rem;
            height: 5rem;
            border: 0.1rem solid #fff;
        }
    }

    @media screen and (601px <= width <= 800px) {
        .mypage_icon {
            width: 7rem;
            height: 7rem;
            border: 0.1rem solid #fff;
        }
    }

    @media screen and (801px <= width <= 1000px) {
        .mypage_icon {
            width: 10rem;
            height: 10rem;
            border: 0.3rem solid #fff;
        }
    }

    .user_icon_position {
        bottom: -18%;
    }

    .stamp_rally {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }

    .clear_stamp {
        width: 5rem;
        height: 5rem;
    }

    @media screen and (max-width: 400px) {
        .stamp_rally {
            width: 3rem;
            height: 3rem;
        }

        .clear_stamp {
            width: 2rem;
            height: 2rem;
        }
    }

    @media screen and (401px <= width <= 767px) {
        .stamp_rally {
            width: 5rem;
            height: 5rem;
        }

        .clear_stamp {
            width: 3rem;
            height: 3rem;
        }
    }

    @media screen and (768px <= width <= 1100px) {
        .stamp_rally {
            width: 6rem;
            height: 6rem;
        }

        .clear_stamp {
            width: 3rem;
            height: 3rem;
        }
    }

    .clear_rindou_img {
        cursor: pointer;
    }

    /*********************************************************/
/*********************************************************************************************/


/***********************************************************************************************/
    /**** toppage > index.blade.php ********************************************/

    @keyframes zoomUp {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.15);
        }
    }

    .swiper-slide-active .slide_img,
    .swiper-slide-duplicate-active .slide_img,
    .swiper-slide-prev .slide_img {
        animation: zoomUp 7s linear 0s normal both;
    }

    /****************************************************************************/
/************************************************************************************************/


/*************************************************************************************************/
    /**** rule > index.blade.php ************************************************/

    .text_indent {
        text-indent: -1em;
        margin-left: 1em;
    }
